h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.our-approach {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
       /* HEADER */
 .header {
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
     padding-bottom: 24px;
     padding-top: 24px; 
    }
.page-header-container {
    display: flex;
    justify-content: space-between;
}
 .page-navigation {
    display: flex;
    align-items: center;
}
.logo-web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-right: 76px;
    display: flex;
    align-items: center;
}
.logo-Studio-link{
     color: #2E2F42;
}
.navigation{
    display: flex;
    gap: 40px;
}
.header-link:hover,
.header-link:focus {
    color: #404BBF;
}
.header-item{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }
.contacts-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    }
.studio-item {
    color: #404bbf;
    position: relative;
    }
.studio-item::after{
    box-sizing: border-box;
    display: flex;  
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
  }
.address {
    font-style: normal;
}
.address-list {
    gap: 40px;
    list-style-type: none;
    display: flex;
  }
.address-item{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}
  /* HERO */
.hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;

}
.hero-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.hero-btn {
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;
}
/* First section after hero */
.privilege-section{
    padding: 120px 0;
}
.privilege-list-item {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px; 
    margin-bottom: 8px;
  }

.privilege-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.privilege{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.privilege-li{
    width: calc((100% - 72px) / 4);
}
.privilege-p {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}
/* Our team */
.team-section{
    padding: 120px 0;
    background-color: #F4F4FD;
}
.team-title  {
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list
 {
    gap: 24px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 0
}
.team-li
 {
    background: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
.team-div{
    padding: 32px 0;
    text-align: center;
}
.title-name
 {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
.title-position
 {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.social-list-icon {
    fill: #f4f4fd;
  }
  
  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 8px;
  }
  
  .social-list-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-list-link {
    fill: #ffffff;
    background-color: #4d5ae5;
    border: 1px solid #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  
  
  .social-list-link:hover,
  .social-list-link:focus {
  background-color: #404bbf; 
  }
  
    /* section Our Porfolio*/
.portfolio-section {
padding: 120px 0;
}
.container-items {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
.portfolio-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    }
.portfolio-list {
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px
}
.portfolio-item
 {
    background-color: #fff;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.section-img-box {
    position: relative;
    overflow: hidden;
  }

.section-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
  }
.portfolio-item:hover .section-text-overlay
{
    transform: translateY(0%);
  }
.portfolio-name{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-position{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*   < !-- section Footer -->*/
.footer-section {
    background: #2E2F42;
    padding: 100px 0;
}
.logo-link-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
 letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .footer-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .footer-list-link:hover,
  .footer-list-link:focus {
  background-color: #31d0aa; 
  }
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.logo-footer {
    color: #F4F4FD;
}
.footer-p{
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-text-wrapper {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
      }
.footer-container {
    display: flex;
    align-items: baseline;
    }
.footer-wrapper {
        margin-right: 120px;
        
}
.label-text {
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.footer-form {
    display: flex;
    gap: 24px;
}
.footer-label {
    display: flex;
    flex-direction: column;
}
.subscribe-input {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #fff;
    outline: transparent;
    border: 1px solid #fff;
}
.button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #fff;
    text-align: center;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-icon {
    margin-left: 16px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .close-btn-modal {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #2e2f42;
    border: none;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .close-btn-modal:hover,
  .close-btn-modal:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
  }
  
  .close-modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-text {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2e2f42;
  }
  
  .callback-form-wrap {
    margin-bottom: 8px; 
  }
  
  .callback-form-comment-wrap {
    margin-bottom: 16px;
  }
  
  .callback-label {
    display: block;
    margin-bottom: 4px;
    color: #8e8f99;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }
  
  .callback-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .callback-input:focus {
    border: 1px solid #4d5ae5;
    outline: transparent;
  }
  
  .callback-input-wrap {
    position: relative;
  }
  
  .callback-icons {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .callback-input:focus + .callback-icons {
    fill: #4d5ae5;
  }
  
  .callback-comment {
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
  }
  
  .callback-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
  
  .callback-comment:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }
  
  .callback-checkbox {
    margin-bottom: 24px;
  }
  
  .callback-form-submit {
    display: block;
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .callback-form-submit:hover,
  .callback-form-submit:focus {
    background-color: #404bbf;
  }
  
  .callback-custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    background-color: transparent;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .callback-checkbox-input:checked
    + .callback-checkbox-label
    > .callback-custom-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
  }
  
  .callback-checkbox-input:focus
    + .callback-checkbox-label
    > .callback-custom-checkbox {
    outline: 1px solid #404bbf;
  }
  
  .callback-checkbox-label {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }
  
  .privacy-link {
    color: #4d5ae5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
  }
  