h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;


}

.our-approach {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


       /* HEADER */

 .header {
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
     padding-bottom: 24px;
     padding-top: 24px; 
    }
.page-header-container {
    display: flex;
    justify-content: space-between;
}
 .page-navigation {
    display: flex;
    align-items: center;
}
.logo-web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-right: 76px;
    display: flex;
    align-items: center;
}
.logo-Studio-link{
     color: #2E2F42;
}
.navigation{
    display: flex;
    gap: 40px;
}
.header-link:hover,
.header-link:focus {
    color: #404BBF;
}
.header-item{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;

}
.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }
.contacts-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    }

.studio-item {
    color: #404bbf;
    position: relative;
    }

.studio-item::after{
    box-sizing: border-box;
    display: flex;  
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
  }
.address {
    font-style: normal;

}
.address-list {
    gap: 40px;
    list-style-type: none;
    display: flex;
  }
.address-item{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

  /* HERO */

.hero-section {
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.hero-title {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}
.hero-btn {
    cursor: pointer;
    display: block;
    color: #fff;
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-height: 56px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;
}
/* First section after hero */
.privilege-section{
    padding: 120px 0;
}
.privilege-list-item {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px; 
    margin-bottom: 8px;
  }

.privilege-item-icon {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
  }
.privilege-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.privilege{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.privilege-li{
    width: calc((100% - 72px) / 4);
}
.privilege-p {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

/* Our team */
.team-section{
    padding: 120px 0;
    background-color: #F4F4FD;
}
.team-title  {
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}
.team-list
 {
    gap: 24px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 0
}
.team-li
 {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.team-li:hover  {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-div{
    padding: 32px 0;
    text-align: center;
}

.title-name
 {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
.title-position
 {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.social-list-icon {
    fill: #f4f4fd;
  }
  
  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  .social-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
  }
  
  .social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

  
  .social-list-link:hover
  {
    background-color: #404bbf; 
  }
  .social-list-link:focus {
  background-color: #404bbf; 
  }
  

    /* section Our Porfolio*/


.portfolio-section {
padding: 120px 0;
}

.container-items {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

.portfolio-title {
    margin-bottom: 72px;
    color: #2e2f42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    }

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item
 {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    width: calc((100% - 48px) / 3);
    }
.portfolio-item:hover,
.portfolio-item:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        }
.portfolio-name{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-photo-wrapper {
    position: relative;
    overflow: hidden;
    
  }
.portfolio-position{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

/*   < !-- section Footer -->*/

.footer-section {
    background: #2E2F42;
    padding: 100px 0;
}
.logo-link-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

}
.logo-footer {
    color: #F4F4FD;
}
.footer-p{
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-text-wrapper {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
      }
.footer-container {
        display: flex;
        column-gap: 120px;
        align-items: baseline;
    }
.footer-logo-wrapper {
        margin-right: 120px;
        
}
        